.header {
  background: $color-black;

  width: 100%;
  height: $header-height;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $color-white;

  z-index: 2;
  // position: sticky;
  position: fixed;

  top: 0;

  transition: all 0.3s ease-in-out;

  &.header-shrunk {
    // background: red;
    height: 56px;

    .column--two {
      transform: translateY(-40px);
      opacity: 0;
    }
  }

  h2 {
    font-size: 2rem;
  }

  .header__inner {
    width: 100%;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    // flex-direction: column;

    .column {
      width: 100%;
      // height: 100%;
      padding-bottom: 0.5rem;

      display: flex;
      align-items: flex-start;
      // justify-content: cent  er;

      transition: all 0.3s ease-in-out;

      &.column--two {
        //
      }
    }
  }
  
}

h2, p {
  margin: 0;
}

// .header { background: rgba(255, 0, 0, 0.2);}
// .header__inner { background: rgba(255, 0, 0, 0.4);}