/* $button-padding-rs: 0; */
/* $button-padding-m: 12px 32px 12px 32px; */

.storybook-button {
  /* font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1.25rem;
  /* border-radius: 3em; */
  transition: all 0.25s ease;
}
.storybook-button--primary {
  /* color: $color-greyscale-gs-1; */
  color: #F7F7F7;
  /* background-color: $color-greyscale-gs-10; */
  background-color: #131313;
}
.storybook-button--secondary {
  /* color: $color-greyscale-gs-10; */
  color: #131313;
  background-color: #f8f8f8;
  border: 1px solid #131313;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
}
.storybook-button--small {
  font-size: 12px;
  padding: 12px 24px 12px 24px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 12px 32px 12px 32px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
/* States - start */
.storybook-button--primary:hover {
  /* background-color: $color-greyscale-gs-8; */
  background-color: #515151;
}
.storybook-button--secondary:hover {
  background-color: #EEEEEE;
}
/* States - end */